@import url('https://fonts.googleapis.com/css2?family=Concert+One&family=Lobster&display=swap');

body{
    background-image: url(./2.png);
    background-repeat: no-repeat;
    background-size: auto;
    background-position-x: center;
    background-position-y: top;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 62.5%;
}
.cuadro{
  background: #42445A;
  padding: 10px 20px 10px 20px;
  border-radius: 15px;
  width: 0;
}
.titulo{
  margin: 20px;
  height: auto;
    font-size: 2rem;
    color: aliceblue;
    font-family: 'Lobster', cursive;
}
.ataque-fuego{
  color: red;
}
p{
  font-size: 1.2rem;
}

#seleccionar-mascota{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.tarjetas{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.tarjetas img{
    cursor: pointer;
    width: 160px;
    margin-left: 10%;
 
}

#seleccionar-ataque{
    flex-direction: column;
    align-items: center;
    color: #FFFFFF;
    height: auto;
}


.tarjeta-de-mokepon{
  background: #FFB880;
  border: transparent;
  border-radius: 30px;
  display: flex;
  margin: 0 10px 10px 10px;
  justify-content: space-around;
  align-items: flex-start;
}
input{
    display: none;
}

input:checked + label{
        background-color: #77C9F3;
}

.ataques{
    display: grid;
    grid-template-columns: 125px 125px;
    overflow-y: auto;
    border-radius: 30px;
    background: #3D32BA;
    height: 350px;
    text-align: center;
    padding: 5px;
    background-image: url(15979.jpg);
    margin: 5px;
}
.boton-de-ataques{
  border-radius: 15px;
  height:45px;
  width:80px;
  
  
}
.boton-de-ataques:hover  {
  animation: zoom  1s 1; 
}
@keyframes zoom {
  0% {
    transform: rotate(0deg);
  }
  10% {
    transform: rotate(-5deg);
  }
  20% {
    transform: rotate(5deg);
  }
  30% {
    transform: scale(1);
  }
  40% {
    transform: scale(0.8); 
  }
  50%{
    transform: rotate(-5deg);
  }
  60%{
    transform: rotate(5deg);
  }
  70% {
    transform: rotate(1);
  }
  80% {
    transform: scale(0.8);
  } 
  90%{
    transform: rotate(-5);
  }
  100% {
    transform: rotate(0deg);
  }
}

#boton-fuego  {
  background-image: url(./fuego.gif);
  background-position: right bottom;
}
#boton-agua {
  background-image: url(Sojl.gif);
  background-position: center ;
}
#boton-tierra{
  background-image: url(4pCf.gif);
  background-position: center  top;
}
#boton-mascota {
  color: white;
  background: #BB1242;
  height: 40px;
  border-radius: 50px;
  border: transparent;
}
#boton-reiniciar {
  margin: 5px;
  padding: 5px;
  border-radius: 10px;
}
#mascota-jugador, #mascota-enemigo {
  font-size: 1rem;
  
}
@media (min-width: 360px){
  body{
    display: flex;
    flex-direction: column;
}
.cuadro {
  width: 80%;
}
}
.tarjetas{
    display: flex;
    flex-direction: column;
    
    

}
.tarjetas img{
    cursor: pointer;
    width: 50%;
    border-radius: 30px;
}
.tarjeta-de-mokepon{
  
    padding: 8px;
    border: transparent;
    border-radius: 30px;

}

    

@media(min-width: 800px) {
  p{
    font-size: 1.2rem;
  }
  .tarjetas img {
   
   
    margin-left: 5%;
    border-radius: 50px;
}
.tarjeta-de-mokepon {
  width: 280px;
  padding: 5px;
  border-radius: 20px;
 
}
.cuadro {
  padding: 10px 20px 10px 20px;
  border-radius: 15px;
  width: 500px;
  display: inline-table;
}
.ataques {
  display: grid;
  grid-template-columns: 125px 125px;
  /* overflow-y: auto; */
  border-radius: 30px;
  background: #3D32BA;
  height: auto;
  text-align: center;
  padding: 0px;
  background-image: url(15979.jpg);
  margin: 0px;
}
 #ataque-del-jugador > p {
  font-size: 1.1rem;
}
#ataque-del-enemigo > p {
  font-size: 1.1rem;
}
#seleccionar-ataque {

  height: 600px;
}
}


